<a href="https://colab.research.google.com/github/JSunOO/AIB09_Discussion/blob/master/n121a_hypothesis_test_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# 📝 Assignment

# 가설 검정

## 1. One-Sample T-test 연습

### 데이터 불러오기
- [서울시 가로수 데이터셋](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)을 사용합니다.

다음 링크를 참조하세요. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [ ]:
import pandas as pd

df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt', delimiter='\t', skiprows = 1)
df = df.replace({'-':'0'})

def toint(t):
  a = int(t.replace(',',''))
  return a

trees = ['노선수',	'수량', '은행나무',	'양버즘나무',	'느티나무',	'왕벚나무',	'은단풍나무',	'메타세콰이어',	'회화나무',	'가죽나무',	'감나무',	'수양버들',	'튜울립나무',	'칠엽수',	'포플러',	'느릅나무',
         '살구나무',	'무궁화',	'소나무',	'목련',	'이팝나무',	'기타']
        
for x in trees:
  df[x] = df[x].apply(toint)

df.head()

     기간  자치구   노선수      수량    은행나무  양버즘나무  ...  살구나무   무궁화   소나무   목련   이팝나무     기타
0  2019  서울시  1412  307351  108050  62474  ...   234  2374  4539  378  20088  20112
1  2019  종로구    70    7329    4072   1071  ...     0     0   239    0    711     29
2  2019   중구    48    8250    3640    162  ...    21    46  2162    0    470    817
3  2019  용산구    39    7835    4444   1422  ...    39     0    51  126    198    780
4  2019  성동구    38    8120    1090   2401  ...     0     0    53    0    709    646

[5 rows x 24 columns]

### "서울시에는 구별로 평균 약 400 그루 정도의 `이팝나무`가 있다"라는 가설에 대해 가설검정을 시행하세요.

- 단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.
- 가설검정 결과의 pvalue 값을 `pv1`에 저장하세요. (`.pvalue` 사용)

In [ ]:
import scipy as scp
from scipy import stats

df2 = df.drop([df.index[0], df.index[26], df.index[27]])
pv1 = stats.ttest_1samp(df2['이팝나무'], 400).pvalue

pv1

0.002470712850935819

### 이번에는 10개의 구를 샘플링하여, 위에 대한 가설검정을 다시 한번 시행해보세요.

- 단, 아래의 코드를 참조하여 sample을 위한 seed 는 123로 설정하세요.
- 가설검정 결과의 pvalue값을 `pv2`에 저장하세요

In [ ]:
import numpy as np
np.random.seed(123)
chosen = np.random.choice(df2['이팝나무'], size = 10)
np.mean(chosen)

479.7

In [ ]:
stats2, pv2 = stats.ttest_1samp(chosen, 400)

pv2

0.49772576203804575

## 2. Two-Sample T-test 연습

### "서울시의 구별 평균 느티나무수와 왕벚나무의 수는 차이가 없다"라는 가설에 대해 가설검정을 시행하세요.

- 단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.
- 가설검정 결과의 pvalue를 `pv3`에 저장하세요

In [ ]:
zf = df['느티나무'][~df['자치구'].isin(['서울시','공원녹지사업소','시설관리공단'])]
zf = pd.to_numeric(zf.replace(','or' ',''))

cf = df['왕벚나무'][~df['자치구'].isin(['서울시','공원녹지사업소','시설관리공단'])]
cf = pd.to_numeric(cf.replace(',',''))

pd.concat([zf, cf], axis=1)

    느티나무  왕벚나무
1    619   421
2    460   289
3    373   262
4   1975   602
5   1057   940
6    855   747
7    471   354
8   1014  1656
9    324   497
10   779  2095
11  1165  1612
12   680  1748
13   721   732
14  3056  1096
15  1065   956
16  2231  2508
17  1884  2157
18   407  1123
19  3419  2952
20  1421  1127
21   185  2416
22  3409   254
23  2991  2455
24  2400   992
25  2417  2309

In [ ]:
stats3, pv3 = stats.ttest_ind(zf, cf)
stats3, pv3

(0.4629256014492562, 0.6455096880085703)


### Two-Sample One-tailed test를 사용하여 **평균 느티나무수가 왕벚나무 수보다 크다**라는 가설에 대한 가설검정을 시행하세요.
- 해당 가설검정의 결과를 `ans`에 저장하세요.

이 때 `ans`가 가질 수 있는 값은 아래와 같습니다 :
1. "느티나무" ( 느티나무의 수가 통계적으로 유의하게 많은 경우 )
2. "왕벚나무" ( 왕벚나무의 수가 통계적으로 유의하게 많은 경우 )
3. "없음" (통계적으로 유의하지 않은 경우)

Two-Sample One-tailed test를 scipy에서 하는 방법은 아래의 링크를 참고 하세요  
참고 링크 : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

In [ ]:
# 아래의 코드를 실행해주세요
!pip install scipy --upgrade

Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.19.5)

In [ ]:
import scipy

scipy.__version__

'1.7.3'

In [ ]:
stats4, pv4 = stats.ttest_ind(zf, cf, alternative='greater')
stats5, pv5 = stats.ttest_ind(zf, cf, alternative='less')

pv4, pv5

(0.32275484400428517, 0.6772451559957149)

In [ ]:
alpha = 0.05

if pv4 < alpha:
    ans = '느티나무'
elif pv5 < alpha:
    ans = '왕벚나무'
else:
    ans = '없음'
    
ans

'없음'

## 🔥 **도전과제**
> 2문제 모두 하면 됩니다.

### 1. Compare mean for multiple-sample 
 
다음 링크를 참조하세요. <https://reneshbedre.github.io/blog/anova.html>

구별, 은행나무, 양버즘나무, 느티나무에 대해서 ANOVA Test를 실행하세요.

단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.

In [ ]:
# 이 곳에 답안을 작성하시기 바랍니다

### 2. Sampling

- 세션 시간에 배웠던 4가지 sampling (Simple Random, Systematic, Stratified Random, Cluster) 방식을 구현해보세요.

- 이를 위한 데이터는 1 부터 100을 담은 numpy array이며, Sampling 해야 하는 수는 20개 입니다.

- Stratified Random Sampling을 위한 그룹을 나누는 기준은 1-10, 11-20, ... 과 같은 방식입니다.

- Cluster Sampling에서 그룹을 나누는 기준은 5로 나눴을때의 나머지 값입니다. (0,1,2,3,4)

In [ ]:
# 이 곳에 답안을 작성하시기 바랍니다